# ========================
# Node.js + React (Global)
# ========================
**/node_modules/
**/.env
**/.env.*
**/*.log
**/*.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Build and Coverage
# ========================
**/dist/
**/build/
**/coverage/

# ========================
# System Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Editor Files
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# Archives
# ========================
*.zip
*.tgz
.DS_Store
